.sprite-icon (@x: 0, @y: 0, @sprite-img, @width: 18px, @height: 18px, @spacing: 0) {
    .sprite(@x, @y, @sprite-img, @width, @height, @spacing);
    .inline-block;
    text-indent: 100%;
    text-align: left;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: middle;
}